<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let product of filteratedList">
    <div class="card" appHighlightCard>
      <img [src]="product.imgUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color:brown" >{{product.name}}</h5>
        <p class="card-text" style="color:grey">{{product.description}}</p>
        <p class="card-text" > Price: {{ product.price | currency:'EGP ':'symbol':'1.0-0' }}</p>
        <div [ngSwitch]="product.quantity">
          <p *ngSwitchCase="0" style="color:red">Quantity : Sold Out</p>
          <p *ngSwitchCase="1">Quantity : Last Piece </p>
          <p *ngSwitchDefault >Quantity : {{product.quantity}}</p>
        </div>
        <button class="addtocart" (click)="addToCart(product)">Add to Cart</button>
      <br>
      <br>
        <!-- <button class="btn btn-outline-secondary" routerLink="/Details"  >Show details</button>
   -->
         <button class="btn btn-outline-secondary" (click)="navigateToDetails(product.id)"  >Show details</button>
  
        
      </div>
       </div>
  </div>
 
</div>